
@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Eventos - Escolha uma opção</h2>
<ul>
    <li><a asp-action="IncluirEventos">Incluir Novo Evento</a></li>
    <li><a asp-action="ListarEventos">Listar Eventos</a></li>
</ul>

