
@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Eventos - Escolha uma opção</h2>

<ul>
    <li>
        <a asp-action="IncluirEvento" asp-controller="Eventos">
            Incluir Novo Evento
        </a>
    </li>
    <li>
        <a asp-action="ListarEventos" asp-controller="Eventos">
            Listar Eventos
        </a>
    </li>
</ul>
