
@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Participantes - Escolha uma opção</h2>

<ul>
    <li>
        <a asp-action="IncluirParticipante" asp-controller="Participantes">
            Incluir Participante
        </a>
    </li>
    <li>
        <a asp-action="ListarParticipantesAjax" asp-controller="Participantes">
            Listar Participantes por Evento
        </a>
    </li>
</ul>

