@model IEnumerable<Produto>
@{
    ViewData["Title"] = "ListarProdutos1";
}

<h2>ListarProdutos1</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo:</th>
            <th>Descrição:</th>
            <th>Preço:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
                <td>@item.Preco</td>
            </tr>
        }
    </tbody>
</table>